#header {
    border-bottom: solid thick red;
}

body {
    background-color: black;
    text-align: center;
    color: gold;
}

.red {
    color: red;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 48px;
}

#main {
    width: 30%;
    margin: auto;
}