body {
    background-color: black;
    text-align: center;
    color: gold;
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 48px;
}

header {
    height: 15vh;
    border-bottom: solid thick red;
}

article {
    width: 30%;
    margin: auto;
}

footer {
    height: 10vh;
}